  <div class="form-group">
    <%= text_field :name, class: "form-control m-2 w-75", placeholder: "name" %>
  </div>

  <div class="actions">
    <%= button_to 'Log in', user_coaches_path(@user.id), method: 'get', class: "btn btn-secondary m-2 w-75" %>
  </div>
