<% if row < array_size %>
  <% if schedule.booking_user.nil? %>
    <td><%= button_to schedule.booking_time.strftime('%H:%M'), user_coach_schedule_booking_path(@user, @coach, schedule.id), class: "btn btn-secondary btn-sm" %></td>
  <% else %>
    <td><%= button_to User.find(schedule.booking_user).name, class: "btn btn-secondary btn-sm" %></td>
  <% end %>
<% else %>
  <td></td>
<% end %>
