<div class="card mx-3">
  <div class="card-body">
    <h1>Schedule</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Day of week</th>
          <th scope="col">Booking time</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @schedules.each do |schedule| %>
          <%= render schedule %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
