<tr>
  <td><%= coach.name %></td>
  <td><%= coach.timezone %></td>
  <td><%= button_to 'Schedule', client_coach_schedules_path(@client.id, coach.id), method: :get, class: "btn btn-secondary btn-sm" %></td>
</tr>
